@import './base.css';

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;

	font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
input {
	background: #262626;
	padding: 11px 0 11px 12px;
	color: white;
	outline: none;
	/* Primary Border */
	border: 1px solid #4d4d4d;
	border-radius: 4px;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

.btn {
	display: inline-block;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 11px;
	width: 100%;
	background: transparent;
	border-radius: 8px;
	color: white;
	font-family: 'SF Pro Display';
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}

.btn-red {
	background: #fa7272;
}

.btn-white {
	background: white;
	color: black;
}
